In [48]:
import pandas as pd
import numpy as np

pd.options.display.max_colwidth = 100  # Print long strings in pandas data frame

In [51]:
df = pd.DataFrame(np.random.randint(0,100,size=(5, 4)), columns=list('ABCD'))

### Handy functions: 
- Lambda functions is a simple way to create e very straight forward function.

- Pandas map and apply is a way to create or modify existing data in the data frame.
- Map is used when only one column is envolved in the changes.
- Apply is used when values of other columns might be needed in the current logic.
- Use np.where when possible.

In [53]:
# Lambda function
square = lambda x: x**2
print(square(10))

100

In [60]:
# Pandas map
display(df.head(2))
def add_if_odd(x):
    if x % 2 == 0:
        return x
    return x + 1
df['A_add_odd'] = df['A'].map(add_if_odd)
df.head(4)

    A   B   C   D  A_add_odd
0  93  85  50  84         94
1  81  64  52  87         82

    A   B   C   D  A_add_odd
0  93  85  50  84         94
1  81  64  52  87         82
2  21  95   3  38         22
3  96  97  77  52         96

In [83]:
# Apply with lambda
# add only column A and B only if two values are odd or else return 0
def add_if_both_even(x, y):
    if x % 2 == 0 and y % 2 ==0:
        return x + y
    return 0
df['Add_odd_A&B'] = df.apply(lambda row: add_if_both_even(row['A'], row['B']), axis=1)
df

    A   B   C   D  A_add_odd  Add_odd_A&B  Add_odd_C&D
0  93  85  50  84         94            0            0
1  81  64  52  87         82            0            0
2  21  95   3  38         22            0            0
3  96  97  77  52         96            0            0
4  52   0  26  40         52           52            0

### 1) Create a column that is a subset of a existing string type column. 

Extract the CNPJ id from Fund name column. The id format is xx.xxx.xxx/xxxx-xx where x is a number.

CNPJ is an identification number issued to Brazilian companies by the Department of Federal Revenue of Brazil.

In [36]:
df = pd.read_excel('./data/Investment Funds.xlsx')

In [37]:
FUND = 'Fund Name'
df[[FUND]].sample(5)

                                                                                              Fund Name
7                                             GRÉCIA FI MULTIMERCADO CRÉDITO PRIVADO 08.160.769/0001-89
3            SAFRA CAPITAL MARKET MAX FIC RENDA FIXA REFERENCIADO DI CRÉDITO PRIVADO 10.243.362/0001-67
0                                                ZOIT FI MULTIMERCADO CRÉDITO PRIVADO08.904.061/0001-95
2   SAFRA CAPITAL MARKET INSTITUCIONAL FIC RENDA FIXA REFERENCIADO DI CRÉDITO PRIVADO 03.593.195/000...
10                                  00.832.435/0001-00 ITAÚ INSTITUCIONAL FI RENDA FIXA REFERENCIADO DI

In [38]:
# Option 1: Using map, and apply to locate the the position of the '/' get 10 characters before and 8 after.
# Example for one fund:
text = 'SAFRA CAPITAL MARKET 30 FIC RENDA FIXA REFERENCIADO DI CRÉDITO PRIVADO 20.394.349/0001-62'
pos = text.find('/')
print(pos)
print(a[pos - 10: pos + 8])

# Apply solution to Data Frame using lambda functions:
df['CNPJ'] = df[FUND].map(lambda row: row[row.find('/') - 10: row.find('/') + 8])

# If you wish to remove CNPJ id from Fund name column
df[FUND] = df.apply(lambda row: row[FUND].replace(row['CNPJ'],''), axis=1)
df.sample(10)

81
20.394.349/0001-62

In [44]:
# 2 Using regex
df = pd.read_excel('./data/Investment Funds.xlsx')

# Create CNPJ column
df['CNPJ'] = df[FUND].str.extract(pat = '(.{10}[/].{7})') 

# Remove CNPJ from fund name column.
df[FUND] = df[FUND].replace('.{10}[/].{7}', '', regex=True)

0                                                   ZOIT FI MULTIMERCADO CRÉDITO PRIVADO
1                                   SAFRA FI RENDA FIXA REFERENCIADO DI CRÉDITO PRIVADO
2     SAFRA CAPITAL MARKET INSTITUCIONAL FIC RENDA FIXA REFERENCIADO DI CRÉDITO PRIVADO
3               SAFRA CAPITAL MARKET MAX FIC RENDA FIXA REFERENCIADO DI CRÉDITO PRIVADO
4           SAFRA CAPITAL MARKET PREMIUM FIC RENDA FIXA REFERENCIADO DI CRÉDITO PRIVADO
5               SAFRA CAPITAL MARKET VIP FIC RENDA FIXA REFERENCIADO DI CRÉDITO PRIVADO
6                SAFRA CAPITAL MARKET 30 FIC RENDA FIXA REFERENCIADO DI CRÉDITO PRIVADO
7                                                GRÉCIA FI MULTIMERCADO CRÉDITO PRIVADO
8                                            VILA REAL FIC MULTIMERCADO CRÉDITO PRIVADO
9                                      ITAÚ INSTITUCIONAL FIC RENDA FIXA REFERENCIADO DI
10                                      ITAÚ INSTITUCIONAL FI RENDA FIXA REFERENCIADO DI
11                                          ITAÚ LIQUIDEZ FIC RENDA FIXA REFERENCIADO DI
12                                 ITAÚ UNICLASS LIQUIDEZ FIC RENDA FIXA REFERENCIADO DI
13                                         ITAÚ CORPORATE FIC RENDA FIXA REFERENCIADO DI
14                                   ITAÚ LARGE CORPORATE FIC RENDA FIXA REFERENCIADO DI
Name: Fund Name, dtype: object